<div class="container-fluid p-0 sticky-top">
        <div class="">
                <nav class="navbar navbar-expand-lg bg-transparent text-dark p-0">
                        <a [routerLink]="['']" class="navbar-brand ps-3">
                                <img src="/img/operaconga_logo.png" width="60" alt="Logo" class="rounded-circle">
                                <!-- <h1 class="text-white">AI<span class="text-dark">.</span>Tech</h1> -->
                        </a>
                        <button type="button" class="navbar-toggler ms-auto me-1" data-bs-toggle="collapse"
                                data-bs-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                                <div class="navbar-nav bg-sm-dark bg-lg-transparent ms-auto pe-3">
                                        <a [routerLink]="['']" class="nav-item nav-link active text-sm-white text-lg-dark">Home</a>
                                        <a [routerLink]="['/', 'about']" class="nav-item nav-link text-sm-white text-lg-dark">About</a>
                                        <a [routerLink]="['/', 'features']" class="nav-item nav-link text-sm-white text-lg-dark">Services</a>
                                        <a [routerLink]="['/', '']" class="nav-item nav-link text-sm-white text-lg-dark">Contact Us</a>
                                </div>
                        </div>
                </nav>
        </div>
</div>
