<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
                <div class="row g-5">
                        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                                <a [routerLink]="['']" class="d-inline-block mb-3">
                                        <img src="/img/operaconga_logo.png" class="rounded-circle" width="60" alt="Logo">
                                        <span class="text-white fs-5 fw-bolder">Operaconga<span
                                                        class="text-primary">.</span> Tech Hub</span>
                                </a>
                                <p class="mb-0">At Operaconga Tech Hub, we provide innovative technology solutions to
                                        empower businesses and individuals with the tools needed to succeed in today's
                                        digital landscape. From web development to AI, we create solutions that
                                        transform ideas into reality.</p>
                        </div>
                        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                                <h5 class="text-white mb-4">Get In Touch</h5>
                                <p><i class="bi bi-map me-3"></i>789 Digital Avenue, Tech Valley, USA</p>
                                <p><i class="bi bi-telephone me-3"></i>+123 987 65432</p>
                                <p><i class="bi bi-envelope me-3"></i>contact&#64;operaconga.com</p>
                                <div class="d-flex pt-2">
                                        <a class="btn btn-outline-light btn-social" href=""><i
                                                        class="bi bi-twitter text-primary"></i></a>
                                        <a class="btn btn-outline-light btn-social" href=""><i
                                                        class="bi bi-facebook text-primary"></i></a>
                                        <a class="btn btn-outline-light btn-social" href=""><i
                                                        class="bi bi-youtube text-danger"></i></a>
                                        <a class="btn btn-outline-light btn-social" href=""><i
                                                        class="bi bi-instagram text-danger"></i></a>
                                        <a class="btn btn-outline-light btn-social" href=""><i
                                                        class="bi bi-linkedin text-primary"></i></a>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                                <h5 class="text-white mb-4">Quick Links</h5>
                                <a class="btn btn-link" href="">About Us</a>
                                <a class="btn btn-link" href="">Contact Us</a>
                                <a class="btn btn-link" href="">Privacy Policy</a>
                                <a class="btn btn-link" href="">Terms of Service</a>
                                <a class="btn btn-link" href="">Careers</a>
                        </div>
                        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                                <h5 class="text-white mb-4">Our Expertise</h5>
                                <p class="btn btn-link">Web Development</p>
                                <p class="btn btn-link">AI Solutions</p>
                                <p class="btn btn-link">Software Engineering</p>
                                <p class="btn btn-link">Digital Transformation</p>
                                <p class="btn btn-link">Tech Consultancy</p>
                        </div>
                </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
                <div class="copyright">
                        <div class="row">
                                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                                        &copy; {{ currentYear }} <a class="border-bottom" [routerLink]="['']">Operaconga
                                                Tech Hub</a>, All rights reserved.
                                        Designed By <a class="border-bottom" [routerLink]="['/']">Operaconga Tech Hub
                                                Team</a>
                                </div>
                                <div class="col-md-6 text-center text-md-end">
                                        <div class="footer-menu">
                                                <a href="">Home</a>
                                                <a href="">Cookies</a>
                                                <a href="">Help</a>
                                                <a href="">FAQs</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!-- Footer End -->
