<div class="container mb-5">
        <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="btn btn-sm border rounded-pill text-dark px-3 mb-3">About Us</div>
                        <h1 class="mb-4">Empowering Your Digital Journey with Web Development & Full-Stack
                                Courses</h1>
                        <p class="mb-4">At OperaConga Tech Hub, we specialize in creating high-performance
                                websites and offering in-depth full-stack development training. Whether you're
                                looking to develop a stunning website for your business or kickstart your career
                                as a full-stack developer, we provide the expertise to help you achieve your
                                goals.</p>
                        <p class="mb-4">Our goal is to bring innovative solutions that help businesses thrive
                                online while empowering individuals with the skills to excel in the tech
                                industry. Join us to build the future of technology, one line of code at a time.
                        </p>
                        <div class="row g-3">
                                <div class="col-sm-6">
                                        <h6 class="mb-3"><i class="bi bi-check text-dark me-2"></i>Custom Web
                                                Solutions</h6>
                                        <h6 class="mb-0"><i class="bi bi-check text-dark me-2"></i>Expert
                                                Full-Stack Courses</h6>
                                </div>
                                <div class="col-sm-6">
                                        <h6 class="mb-3"><i class="bi bi-check text-dark me-2"></i>Experienced
                                                Trainers</h6>
                                        <h6 class="mb-0"><i class="bi bi-check text-dark me-2"></i>Hands-on
                                                Learning</h6>
                                </div>
                        </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="about-img">
                                <img class="img-fluid" src="img/about-img.jpg" width="500" alt="OperaConga Tech Hub">
                        </div>
                </div>
        </div>
</div>
<!-- About 2 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 mt-5">
        <div class="container">
                <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                        <div class="col-12 col-lg-6">
                                <img class="img-fluid rounded" loading="lazy" width="500" src="/img/about-img.jpg"
                                        alt="About Us">
                        </div>
                        <div class="col-12 col-lg-6">
                                <div class="row justify-content-xl-center">
                                        <div class="col-12 col-xl-10">
                                                <h2 class="mb-3">Why Choose Us?</h2>
                                                <p class="lead fs-4 mb-3 mb-xl-5">With years of experience and deep
                                                        industry knowledge, we have a proven track record of success and
                                                        are constantly pushing ourselves to stay ahead of the curve.</p>
                                                <div class="d-flex align-items-center mb-3">
                                                        <div class="me-3 text-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                        height="28" fill="currentColor"
                                                                        class="bi bi-check-circle-fill"
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                                </svg>
                                                        </div>
                                                        <div>
                                                                <p class="fs-5 m-0">Our evolution procedure is super
                                                                        intelligent.</p>
                                                        </div>
                                                </div>
                                                <div class="d-flex align-items-center mb-3">
                                                        <div class="me-3 text-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                        height="28" fill="currentColor"
                                                                        class="bi bi-check-circle-fill"
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                                </svg>
                                                        </div>
                                                        <div>
                                                                <p class="fs-5 m-0">We deliver services beyond
                                                                        expectations.</p>
                                                        </div>
                                                </div>
                                                <div class="d-flex align-items-center mb-4 mb-xl-5">
                                                        <div class="me-3 text-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                        height="28" fill="currentColor"
                                                                        class="bi bi-check-circle-fill"
                                                                        viewBox="0 0 16 16">
                                                                        <path
                                                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                                </svg>
                                                        </div>
                                                        <div>
                                                                <p class="fs-5 m-0">Let's hire us to reach your
                                                                        objectives.</p>
                                                        </div>
                                                </div>
                                                <button type="button"
                                                        class="btn bsb-btn-xl btn-outline-primary rounded-pill">Connect
                                                        Now</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
