<div cz-shortcut-listen="true" class="container-fluid">

        <div class="bg-contact100 image-mask">
                <div class="container-contact100">
                        <div class="wrap-contact100">
                                <div class="contact100-pic js-tilt" data-tilt="">
                                        <img src="img/img-01.webp" alt="IMG">
                                </div>

                                <form class="contact100-form validate-form">
                                        <span class="contact100-form-title">
                                                Get in touch
                                        </span>

                                        <div class="wrap-input100 validate-input" data-validate="Name is required">
                                                <input class="input100" type="text" name="name" placeholder="Name"
                                                        data-ddg-inputtype="identities.fullName">
                                                <span class="focus-input100"></span>
                                                <span class="symbol-input100">
                                                        <i class="bi bi-person" aria-hidden="true"></i>
                                                </span>
                                        </div>

                                        <div class="wrap-input100 validate-input"
                                                data-validate="Valid email is required: ex@abc.xyz">
                                                <input class="input100" type="text" name="email" placeholder="Email"
                                                        data-ddg-inputtype="identities.emailAddress"
                                                        data-ddg-autofill="true"
                                                        style="background-size: auto 24px !important; background-position: right center !important; background-repeat: no-repeat !important; background-origin: content-box !important; background-image: url(&quot;chrome-extension://3fc4b818-9510-4651-9a07-78cc8d2a8cbf/img/logo-small.svg&quot;) !important; transition: background !important;">
                                                <span class="focus-input100"></span>
                                                <span class="symbol-input100">
                                                        <i class="bi bi-envelope" aria-hidden="true"></i>
                                                </span>
                                        </div>

                                        <div class="wrap-input100 validate-input" data-validate="Subject is required">
                                                <input class="input100" type="text" name="subject" placeholder="Subject"
                                                        data-ddg-inputtype="identities.fullName">
                                                <span class="focus-input100"></span>
                                                <span class="symbol-input100">
                                                        <i class="bi bi-clipboard2" aria-hidden="true"></i>
                                                </span>
                                        </div>

                                        <div class="wrap-input100 validate-input" data-validate="Message is required">
                                                <textarea class="input100" name="message"
                                                        placeholder="Message"></textarea>
                                                <span class="focus-input100"></span>
                                        </div>

                                        <div class="container-contact100-form-btn ">
                                                <button class="contact100-form-btn btn btn-outline-dark">
                                                        Send
                                                </button>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
